<!DOCTYPE html>
<html>
    <title>Temperaturen umrechnen.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet/index.css') }}">
    <body>
        <center>
        <h1 class="h1">{{instruction}}</h1>
        <form action = 'http://127.0.0.1:5000/calc' method ='post'>
            <div class="toggle-buttons"> 
                <input type="radio"  id="b1" name="unit" value="0" checked>
                <label for="b1">° Celsius</label>
                <input type="radio"  id="b2" name="unit" value="1">
                <label for="b2">° Fahrenheit</label> 
                <input type="radio"  id="b3" name="unit" value="2">
                <label for="b3">° Kelvin</label> 
            </div>
        <h1><input type = 'text' name = 'temperature' /></h1>
        <h1><input class='button' type = 'submit' value = 'ENTER' /></h1>
        </form>
        {% if u == 0 %}
        <p>{{temp}} ° Celsius sind {{a}} ° Faherenheit.</p>
        <p>{{temp}} ° Celsius sind {{b}} ° Kelvin.</p>
        {% endif %}
        {% if u == 1 %}
        <p>{{temp}} ° Faherenheit sind {{a}} ° Celsius.</p>
        <p>{{temp}} ° Faherenheit sind {{b}} ° Kelvin.</p>
        {% endif %}
        {% if u == 2 %}
        <p>{{temp}} ° Kelvin sind {{a}} ° Celsius.</p>
        <p>{{temp}} ° Kelvin sind {{b}} ° Faherenheit.</p>
        {% endif %}
        </center>
    </body>
</html>